.form-control {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
  }
  textarea {
  }
  &--invalid {
    input,
    textarea {
      border: 1px solid #b40e0e;
      background-color: #fddddd;
    }
  }

  &__message {
    &--required {
      color: #ccc;
      font-weight: normal;
      font-style: italic;
    }
    &--error {
      color: #b40e0e;
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  &__action {
  }
}
